@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Rauli Kumari<br />
    Mississauga, ON L5B 3Y6<br />
    <abbr title="Email">Email:</abbr>
    rauli.bvb@gmail.com
</address>

<address>
    <strong>LinkedIn:</strong>   <a href="https://www.linkedin.com/in/rauli-kumari/">LinkedIn/Rauli</a><br />
</address>